.ProseMirror {
  @apply prose prose-slate outline-0;

  min-height: 180px;
  padding: 32px 80px;
}

.tiptap p.is-editor-empty:first-child::before,
.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
